# For enabling the Solution extension
jupyter_contrib_nbextensions

# We use these packages for the in-class exercise
jellyfish
ngram

# Used in notebook Z 
numpy
matplotlib

# Used for code-prettify extension
yapf
black

# To remove the output from the notebooks
nbstripout
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
